@import '../../utils/variables/colors';

.arrow {
	background: $color-fifth;
	border-radius: 99px;
	&::after,
	&::before {
		content: '';
		display: block;
		width: 3px;
		border-radius: 99px;
		height: 12px;
		background: $color-fifth;
		position: relative;
		left: 36px;
	}
	&::after {
		top: -13px;
		transform: rotateZ(45deg);
	}

	&::before {
		top: -8px;
		transform: rotateZ(-45deg);
	}
}
.arrow-thin {
	height: 3px;
}
.arrow-normal {
	height: 4px;
	&::after,
	&::before {
		width: 4px;
	}
	&::after {
		top: -13px;
	}
	&::before {
		top: -7px;
	}
}
.arrow-thick {
	height: 5px;
	&::after,
	&::before {
		width: 5px;
	}
	&::after {
		top: -13px;
	}
	&::before {
		top: -6px;
	}
}
.arrow-w24 {
	width: 24px;
	&::after,
	&::before {
		left: 20px;
	}
}
.arrow-w32 {
	width: 32px;
	&::after,
	&::before {
		left: 28px;
	}
}
.arrow-w40 {
	width: 40px;
	&::after,
	&::before {
		left: 36px;
	}
}
.arrow-w48 {
	width: 48px;
	&::after,
	&::before {
		left: 44px;
	}
}
.arrow-w56 {
	width: 56px;
	&::after,
	&::before {
		left: 52px;
	}
}
.arrow-w64 {
	width: 64px;
	&::after,
	&::before {
		left: 60px;
	}
}

.arrow-up {
	transform: rotateZ(-90deg);
}
.arrow-down {
	transform: rotateZ(90deg);
}
.arrow-left {
	transform: rotateZ(180deg);
}
