@import '../../../utils/variables/colors';

.detailsMainInfo {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;

	.thumbnail {
		width: 80vw;
		height: 80vw;
		max-width: 600px;
		max-height: 600px;
		box-shadow: 0 0 20px 0px rgba(darken($color-primary, 100), 0.5);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.drinkName {
		margin: 32px 0;
		font-size: 2rem;
		padding: 16px 16px;
		text-align: center;
		font-weight: 400;
		letter-spacing: 1px;
		border-top: $color-fifth solid 1px;
		border-bottom: $color-fifth solid 1px;
	}
	.drinkInfo {
		width: 20%;
		ul {
			list-style-type: none;
			font-size: 1.5rem;
			span {
				font-weight: 700;
			}
		}
	}
}
